﻿@{
    ViewBag.Title = "Calendar";
}
<div class="col-sm-12 col-lg-2 col-md-12">
    <div id="datepicker"></div>
</div>
<div class="col-sm-12 col-lg-10 col-md-12">
    <div id="calendar"></div>
</div>
@section PageScripts {

    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/jquery-ui")
    @Styles.Render("~/css/fullcalendar")
    <script src="~/assets/js/qtip2/jquery.qtip.js"></script>
    <link href="~/assets/js/qtip2/jquery.qtip.css" rel="stylesheet" />
}
<div dir="rtl" id="responsive" class="modal fade" tabindex="-1" data-width="200" style="display: none;">
    <div class="modal-header">
        <h3>אתה בטוח רוצה למצוא לך מחלוף למשמרת הזות?</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <input class="form-control" type="hidden" id="eventId">
                <input class="form-control" type="hidden" id="eventTitle">
                <input class="form-control" type="hidden" id="eventDate">
                <input class="form-control" type="hidden" id="eventStart">
                <input class="form-control" type="hidden" id="eventEnd">
                <input class="form-control" type="hidden" id="allDayEvent">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">בטל</button>
        <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">שמור</button>
    </div>
</div>