﻿body
{
    font-size: 12px;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #000000;
    background-color: #fff;
}

div.site-container
{
    width: 1200px;
    margin: auto;
}

div.ads-container
{
    width: 130px;
    margin: auto;
    position: fixed;
    right: 5px;
    top: 5px;
}

div.main-header 
{
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ECF2F6;
}

div.main-header h1 {
    margin: 0px;
}

div.top-navigation
{
    border: 1px solid #CCCCCC;
    padding: 4px;
    margin-bottom: 5px;
    background-color: #ECF2F6;
}

div.top-navigation a
{
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
}

div.content-container 
{
    border: 1px solid #CCCCCC;
    padding: 10px;
    background-color: #F5F5F5;
    margin-bottom: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.scheduler_container{
    width:100%;
    height:600px;
    border:1px solid #aeaeae;
}
body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

.modal {
  left: 50%;
  bottom: auto;
  right: auto;
  z-index: 1550;
  padding: 0;
  width: 500px;
  margin-left: -250px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal.container {
  max-width: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}

.ModalWindowDisplayMeOnTopPlease {
        z-index: 1100;
    	margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}