﻿@model Mikud_Manage.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h2>מחיקת</h2>

<h3>האם אתה בטוח שברצונך למחוק את ההודעה?</h3>
<div>
    <h4>הודעה</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Guard.AspNetUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guard.AspNetUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="מחק" class="btn btn-default" /> |
            @Html.ActionLink("חזרה ליומן", "Index")
        </div>
    }
</div>
