﻿@model Mikud_Manage.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>פרטי</h2>

<div>
    <h4>הודעה</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Guard.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Guard.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guard.LastName)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.PostNote)
        </dt>

        <dd>
                @Html.DisplayFor(model => model.PostNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("עריכה", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("חזרה ליומן", "Index")
</p>
