﻿@model Mikud_Manage.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>עריכת</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>הודעה</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.GuardID, "שם המאבטח", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GuardID", String.Empty)
                @Html.ValidationMessageFor(model => model.GuardID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostNote, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostNote)
                @Html.ValidationMessageFor(model => model.PostNote)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time)
                @Html.ValidationMessageFor(model => model.Time)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="שמור" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("חזרה ליומן", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
