﻿@model IEnumerable<Mikud_Manage.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>יומן אירועים</h2>

<p>
    @Html.ActionLink("ליצור הודעה", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Guard.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guard.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Guard.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guard.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @if (ViewBag.CurrentUser.Equals(item.Guard.AspNetUserId))
            {
                @Html.ActionLink("עריכה", "Edit", new { id=item.ID }) @: |
            }
                @Html.ActionLink("פרטים", "Details", new { id=item.ID }) 
            @if (ViewBag.CurrentUser.Equals(item.Guard.AspNetUserId))
            {
                @: | @Html.ActionLink("מחיקה", "Delete", new { id=item.ID })
            }
            
        </td>
    </tr>
}

</table>
