﻿@model IEnumerable<Mikud_Manage.Models.Option>

@{
    ViewBag.Title = "Index";
}

<h2>רשימת אופציות</h2>

<p>
    @Html.ActionLink("ליצור חדשה", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Guard.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Guard.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.ActionLink("עריכה", "Edit", new { id=item.ID }) |
            @Html.ActionLink("פרטים", "Details", new { id=item.ID }) |
            @Html.ActionLink("מחיקה", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
