﻿@model Mikud_Manage.Models.Schedual

@{
    ViewBag.Title = "Details";
}

<h2>פרטי</h2>

<div>
    <h4>שיבוץ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Guard.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guard.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("עריכה", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("חזרה לרשימה", "Index")
</p>
