﻿@model IEnumerable<Mikud_Manage.Models.Standard>

@{
    ViewBag.Title = "Index";
}

<h2>רשימת תקנים</h2>

<p>
    @Html.ActionLink("ליצור חדש", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Job.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.ActionLink("עריכה", "Edit", new { id=item.ID }) |
            @Html.ActionLink("פרטים", "Details", new { id=item.ID }) |
            @Html.ActionLink("מחיקה", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
