﻿@model Mikud_Manage.Models.TransportationInfo

@{
    ViewBag.Title = "Edit";
}

<h2>עריכת</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>הסעה</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.HasACar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HasACar)
                @Html.ValidationMessageFor(model => model.HasACar)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NeedATransportation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NeedATransportation)
                @Html.ValidationMessageFor(model => model.NeedATransportation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CollectionPoint, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CollectionPoint)
                @Html.ValidationMessageFor(model => model.CollectionPoint)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityID, "שם העיר", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CityID", String.Empty)
                @Html.ValidationMessageFor(model => model.CityID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Actual, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Actual)
                @Html.ValidationMessageFor(model => model.Actual)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuardID, "שם המאבטח", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GuardID", String.Empty)
                @Html.ValidationMessageFor(model => model.GuardID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="שמור" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("חזרה לרשימה", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
