﻿@model IEnumerable<Mikud_Manage.Models.TransportationInfo>

@{
    ViewBag.Title = "Index";
}

<h2>הסעות</h2>

<p>
    @Html.ActionLink("ליצור חדשה", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guard.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasACar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeedATransportation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actual)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guard.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasACar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NeedATransportation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actual)
        </td>
        <td>
            @Html.ActionLink("עריכה", "Edit", new { id=item.ID }) |
            @Html.ActionLink("פרטים", "Details", new { id=item.ID }) |
            @Html.ActionLink("מחיקה", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
