﻿@model IEnumerable<Mikud_Manage.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>רשימת תפקידים</h2>

<p>
    @Html.ActionLink("ליצור חדש", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeedAtrainning)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeedAtrainning)
            </td>
            <td>
                @Html.ActionLink("עריכה", "Edit", new { id = item.ID }) |
                @Html.ActionLink("פרטים", "Details", new { id = item.ID }) |
                @Html.ActionLink("מחיקה", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
