﻿@model Mikud_Manage.Models.Guard

@{
    ViewBag.Title = "Details";
}

<h2>פרטי</h2>

<div>
    <h4>מאבטח</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Files.Any(f => f.FileType == Mikud_Manage.Models.FileType.Avatar))
        {
            <dt>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == Mikud_Manage.Models.FileType.Avatar).FileId" alt="avatar" width="150" height="150" />
            </dt>
            <dd>
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.Job.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartWorkingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartWorkingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("עריכה", "Edit", new { id = Model.ID })
    @if(User.IsInRole("Admin")) 
    {
        @: | 
        @Html.ActionLink("חזרה לרשימה", "Index")
    }
</p>
