﻿@model IEnumerable<Mikud_Manage.Models.Guard>

@{
    ViewBag.Title = "Index";
}

<h2>רשימת מאבטחים</h2>

<p>
    @Html.ActionLink("ליצור חדש", "Create")
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartWorkingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    
    <tr>
        @if (item.Files.Any(f => f.FileType == Mikud_Manage.Models.FileType.Avatar))
        {
            <td>
                <img src="~/File?id=@item.Files.First(f => f.FileType == Mikud_Manage.Models.FileType.Avatar).FileId" alt="avatar" height="30" width="30"/>
            </td>
        }
        else
        {
            <td></td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Job.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartWorkingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.ActionLink("עריכה", "Edit", new { id=item.ID }) |
            @Html.ActionLink("פרטים", "Details", new { id=item.ID }) |
            @Html.ActionLink("מחיקה", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
