﻿@using Microsoft.AspNet.Identity
@model Mikud_Manage.Models.Guard
@{
    ViewBag.Title = "Profile Page";
    ViewBag.Description = "profile";
    Layout = "~/Views/Shared/_HebrewLayout.cshtml";
}
@Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-container">
                <div class="profile-header row">
                    <div class="col-lg-2 col-md-4 col-sm-12 text-center">
                        <div class="row">
                            @if (Model.Files.Any())
                            {
                                <img id="img-size" src='@Url.Action("GetFile", "Guards")' alt="" class="header-avatar" />
                            }
                            else
                            {
                                <img src="/assets/img/avatars/anonymous.jpg" alt="" class="header-avatar" />
                            }
                        </div>
                        <div class="row">
                            <div class="btn-group">
                                <a class="btn btn-azure dropdown-toggle" data-toggle="dropdown">
                                    הגדרות תמונה <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-azure" style="width: 25px">

                                    @using (Html.BeginForm("Save", "Guards", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <li>
                                            <input type="file" name="UploadedFile" id="files" class="hidden" />
                                            <label for="files" style="background-color: aqua">בחר קובץ</label>
                                        </li>
                                        <li>
                                            <input type="submit" name="Submit" value="אישור" />
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-8 col-sm-12 profile-info">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="well with-header">
                                <div class="header bordered-magenta">פרטים אשיים</div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                        <i class="glyphicon glyphicon-map-marker"></i><strong>ירושלים</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col"><strong class="" contenteditable="false"></strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                        תאריך לידה: <strong>@Html.DisplayFor(m => m.Birthday, new { @class = "control-label col-md-2" })</strong>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="header-first-name">
                                        <h3 class="text-primary">
                                            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" }) : @Html.DisplayFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                                        </h3>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="header-family-name">
                                        <h3 class="text-primary">
                                            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" }) : @Html.DisplayFor(model => model.LastName, new { @class = "control-label col-md-2" })
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="well with-header">
                                <div class="header bordered-magenta">פרטים נוספים</div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                        <i class="glyphicon glyphicon-map-marker"></i><strong>ירושלים</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                         <strong></strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                        מס' טלאפון: <strong>@Html.DisplayFor(m => m.PhoneNumber, new { @class = "control-label col-md-2" })</strong>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="header-first-name">
                                        <h3 class="text-primary">
                                            @Html.LabelFor(model => model.Points, new { @class = "control-label col-md-2" }) : @Html.DisplayFor(model => model.Points, new { @class = "control-label col-md-2" })
                                        </h3>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="header-family-name">
                                        <h3 class="text-primary">
                                            @Html.LabelFor(model => model.AspNetUser.UserName, new { @class = "control-label col-md-2" }) : @Html.DisplayFor(model => model.AspNetUser.UserName, new { @class = "control-label col-md-2" })
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                    @*<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 profile-stats">
                            <div class="well well-lg">
                                <h4 class="block">I am a large well</h4>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                        <i class="glyphicon glyphicon-map-marker"></i>Boston
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                        Rate: <strong>$250</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                        Age: <strong>24</strong>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="header-information">
                                        <h4 class="text-primary">
                                            @Html.LabelFor(model => model.Job.Name, new { @class = "control-label col-md-2" }) : @Html.DisplayFor(model => model.Job.Name, new { @class = "control-label col-md-2" })
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="header-information">
                                        <h4 class="text-primary">
                                            @Html.LabelFor(model => model.AspNetUser.UserName, new { @class = "control-label col-md-2" }) : @Html.DisplayFor(model => model.AspNetUser.UserName, new { @class = "control-label col-md-2" })
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="header-information">
                                        <h4 class="text-primary">
                                            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" }) : @Html.DisplayFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="profile-body">
                    <div class="col-lg-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                                <li class="active">
                                    <a data-toggle="tab" href="#overview">
                                        כללי
                                    </a>
                                </li>
                                <li class="tab-yellow">
                                    <a data-toggle="tab" href="#settings">
                                        הגדרות
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content tabs-flat">
                                <div id="overview" class="tab-pane active">
                                    <div class="row profile-overview">
                                        <div class="col-md-8">
                                            <h6 class="row-title before-themeprimary no-margin-top">רשימת משתמשים שנכנסו בזמן האחרון</h6>
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-6 col-xs-12">
                                                </div>
                                            </div>
                                            <h6 class="row-title before-orange">נמצאים באתר</h6>
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-6 col-xs-12">
                                                    <div class="databox databox-graded">
                                                        <div class="databox-left no-padding">
                                                            <img src="/assets/img/avatars/Nicolai-Larson.jpg" style="width: 65px; height: 65px;">
                                                        </div>
                                                        <div class="databox-right padding-top-20 bg-whitesmoke">
                                                            <div class="databox-stat palegreen radius-bordered">
                                                                <i class="stat-icon glyphicon glyphicon-plus"></i>
                                                            </div>
                                                            <div class="databox-text darkgray">אלכס לבינסון</div>
                                                            <div class="databox-text darkgray">Manager</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <form method="post" class="well padding-bottom-10" onsubmit="return false;">
                                                <span class="input-icon icon-right">
                                                    <textarea rows="2" class="form-control" id="message" placeholder="פרסם הודעה חדשה"></textarea>
                                                    @*<i class="fa fa-camera themeprimary"></i>*@
                                                </span>
                                                <div class="padding-top-10 text-align-right">
                                                    <a class="btn btn-sm btn-primary" id="sendmessage">
                                                        שלך
                                                    </a>
                                                </div>
                                                <input type="hidden" id="displayname" />
                                            </form>
                                            <div class="chatting">
                                            </div>
                                            @* @Html.Action("Chat", "Guards")*@
                                        </div>

                                    </div>
                                </div>
                                <div id="settings" class="tab-pane">
                                    <form role="form">
                                        <div class="form-title">
                                            מידע אישי
                                        </div>
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(model => model.ID)
                                        @Html.HiddenFor(model => model.AspNetUserId)
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <span class="input-icon icon-right">
                                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control col-sm-10", @placeholder = "הכנס את השם הפרטי שלך" })
                                                        <i class="fa fa-user blue"></i>
                                                        @Html.ValidationMessageFor(model => model.FirstName)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <span class="input-icon icon-right">
                                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control col-sm-10", @placeholder = "הכנס את השם המשפחה שלך" })
                                                        <i class="fa fa-user orange"></i>
                                                        @Html.ValidationMessageFor(model => model.LastName)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <span class="input-icon icon-right">
                                                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control col-sm-10", @placeholder = "הכנס את המספר הטלאפון שלך" })
                                                        <i class="glyphicon glyphicon-earphone yellow"></i>
                                                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="form-group date">
                                                    <span class="input-icon icon-right">
                                                        @Html.LabelFor(model => model.StartWorkingDate, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                        @Html.TextBoxFor(model => model.StartWorkingDate, new { @class = "form-control date-picker col-sm-10", @id = "id-date-picker-1", @placeholder = "הכנס את התאריך תחילת העבודה" })
                                                        <i class="fa fa-calendar"></i>
                                                        @Html.ValidationMessageFor(model => model.StartWorkingDate)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <span class="input-icon icon-right">
                                                        @Html.LabelFor(model => model.Points, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                        @Html.TextBoxFor(model => model.Points, new { @class = "form-control col-sm-10", @placeholder = "הכנס את מספר נקודות" })
                                                        <i class="glyphicon glyphicon-certificate grey"></i>
                                                        @Html.ValidationMessageFor(model => model.Points)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <span class="input-icon icon-right">
                                                        @Html.LabelFor(model => model.Job.Name, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                        @Html.DropDownListFor(m => m.JobID, ViewBag.AllJobs as SelectList, new { @id = "jobId", @class = "form-control col-sm-10", @placeholder = "הכנס את התפקיד שלך" })
                                                        <i class="glyphicon glyphicon-wrench green"></i>
                                                        @Html.ValidationMessageFor(model => model.Job.Name)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-title">
                                            אינפורמציה נוספת
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="form-group date">
                                                    <span class="input-icon icon-right">
                                                        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-sm-2" })
                                                        @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control date-picker col-sm-10", @id = "id-date-picker-2", @placeholder = "הכנס את התאריך לידה" })
                                                        <i class="fa fa-calendar"></i>
                                                        @Html.ValidationMessageFor(model => model.Birthday)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <span class="input-icon icon-right">
                                                        <label class="control-label col-sm-2" for="Address">כתובת</label>
                                                        <input class="form-control col-sm-10" data-val="true" id="Address" name="Address" placeholder="הכנס את הכתובת שלך" type="text">
                                                        <i class="glyphicon glyphicon-certificate grey"></i>
                                                        <span class="field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="wide">
                                        <div class="form-group">
                                            <input type="click" value="שמור פרופיל" class="btn btn-active" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="https://maps.gstatic.com/intl/en_us/mapfiles/api-3/17/0/main.js" type="text/javascript"></script>*@

    @Scripts.Render("~/bundles/moment")
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="/assets/js/charts/flot/jquery.flot.js"></script>
    <script src="/assets/js/charts/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/he.js"></script>
    <script src="~/assets/js/respond.js"></script>
    <script src="~/assets/js/jquery-ui-1.11.4.js"></script>
    <link href="~/assets/css/jquery-ui.custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        $('#id-date-picker-1').datepicker({
            closeText: "סיום",
            prevText: "הקודם",
            nextText: "הבא",
            currentText: "היום",
            monthNames: ["ינואר", "פברואר", "מרץ", "אפריל", "מאי", "יוני", "יולי", "אוגוסט", "ספטמבר", "אוקטובר", "נובמבר", "דצמבר"],
            monthNamesShort: ["ינו'", "פבר'", "מרץ", "אפר'", "מאי", "יוני", "יולי", "אוג'", "ספט'", "אוק'", "נוב'", "דצמ'"],
            dayNames: ["ראשון", "שני", "שלישי", "רביעי", "חמישי", "שישי", "שבת"],
            dayNamesShort: ["א", "ב", "ג", "ד", "ה", "ו", "ש"],
            dayNamesMin: ["א", "ב", "ג", "ד", "ה", "ו", "ש"],
            weekHeader: "שבוע",
            dateFormat: "dd/mm/yy",
            firstDay: 0,
            isRTL: true,
            showMonthAfterYear: false,
            yearSuffix: "",
            inline: true
        });
        $('#id-date-picker-2').datepicker({
            closeText: "סיום",
            prevText: "הקודם",
            nextText: "הבא",
            currentText: "היום",
            monthNames: ["ינואר", "פברואר", "מרץ", "אפריל", "מאי", "יוני", "יולי", "אוגוסט", "ספטמבר", "אוקטובר", "נובמבר", "דצמבר"],
            monthNamesShort: ["ינו'", "פבר'", "מרץ", "אפר'", "מאי", "יוני", "יולי", "אוג'", "ספט'", "אוק'", "נוב'", "דצמ'"],
            dayNames: ["ראשון", "שני", "שלישי", "רביעי", "חמישי", "שישי", "שבת"],
            dayNamesShort: ["א", "ב", "ג", "ד", "ה", "ו", "ש"],
            dayNamesMin: ["א", "ב", "ג", "ד", "ה", "ו", "ש"],
            weekHeader: "שבוע",
            dateFormat: "dd/mm/yy",
            firstDay: 0,
            isRTL: true,
            showMonthAfterYear: false,
            yearSuffix: "",
            inline: true
        });
        ////Google Map
        //$('#contacttab').click(function () {
        //    function initialize() {
        //        var myLatlng = new google.maps.LatLng(43.6531935, -79.3806243);
        //        var mapOptions = {
        //            zoom: 15,
        //            scrollwheel: false,
        //            center: myLatlng,
        //            mapTypeId: google.maps.MapTypeId.ROADMAP
        //        }
        //        var map = new google.maps.Map(document.getElementById('contact-map'), mapOptions);
        //        var marker = new google.maps.Marker({
        //            position: myLatlng,
        //            map: map,
        //            title: 'Map'
        //        });
        //    }
        //    google.maps.event.addDomListener(window, 'click', initialize);
        //});

        //$(window).bind("load", function () {

        //    /*Sets Themed Colors Based on Themes*/
        //    themeprimary = getThemeColorFromCss('themeprimary');
        //    themesecondary = getThemeColorFromCss('themesecondary');
        //    themethirdcolor = getThemeColorFromCss('themethirdcolor');
        //    themefourthcolor = getThemeColorFromCss('themefourthcolor');
        //    themefifthcolor = getThemeColorFromCss('themefifthcolor');

        //    //--------------------------Visitor Chart --->
        //    var data = [{
        //        color: themeprimary,
        //        label: "Visits",
        //        data: [[3, 10], [4, 13], [5, 12], [6, 16], [7, 19], [8, 19], [9, 24], [10, 19], [11, 18], [12, 21], [13, 17],
        //        [14, 14], [15, 12], [16, 14], [17, 15]]
        //    }];
        //    var options = {
        //        series: {
        //            lines: {
        //                show: true,
        //                fill: true,
        //                fillColor: { colors: [{ opacity: 0.2 }, { opacity: 0 }] }
        //            },
        //            points: {
        //                show: true
        //            }
        //        },
        //        legend: {
        //            show: false
        //        },
        //        xaxis: {
        //            tickDecimals: 0,
        //            tickLength: 0,
        //            color: '#ccc'
        //        },
        //        yaxis: {
        //            min: 0,
        //            tickLength: 0,
        //            color: '#ccc'
        //        },
        //        grid: {
        //            hoverable: true,
        //            clickable: false,
        //            borderWidth: 0,
        //            aboveData: false,
        //            color: '#fbfbfb'

        //        },
        //        tooltip: true
        //    };
        //    var placeholder = $("#visit-chart");
        //    var plot = $.plot(placeholder, data, options);
        //});
        $(".btn-active").on("click", function (parameters) {
            var dataRow = {
                'ID': $('#ID').val(),
                'AspNetUserId': $('#AspNetUserId').val(),
                'FirstName': $('#FirstName').val(),
                'LastName': $('#LastName').val(),
                'PhoneNumber': $('#PhoneNumber').val(),
                'StartWorkingDate': $('#id-date-picker-2').val(),
                'Points': $('#Points').val(),
                'JobID': $('#jobId').val(),
                'Birthday': $('#id-date-picker-1').val()
            };
            $.ajax({
                type: 'POST',
                url: "/Guards/ChangeGuardDetails",
                data: dataRow,
                success: function (response) {
                    console.log(response);
                    if (response != null) {
                        alert('השינוים נקלתו!');
                    } else {
                        alert('שגיע, לא ניתן לשמור אירוע!');
                    }
                },
                error: function () {
                    alert("Error");
                }
            });
        });

        $("#Upload").click(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("Avatar").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("Avatar").files[i];
                formData.append("FileUpload", document.getElementById("Avatar"));
            }
            $.ajax({
                type: "POST",
                url: '/Guards/ImageUpload',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('succes!!');
                },
                error: function (error) {
                    alert("errror");
                }
            });
        });
        $(function () {
            var chat = $.connection.chatHub;
            chat.client.addNewMessageToPage = function (name, message) {
                $('.chatting').append(
                    '<div class="comment">' + '<img id="img-size" src ="' + '@Url.Action("GetFileByUsername", "Guards", new { username = @Model.AspNetUser.UserName})' + '" class="comment-avatar" alt="" />' +
                        '<div class="comment-header">' + '<a href="#" title="">' + '@Model.FirstName' + ' ' + '@Model.LastName' + '</a><span></span>' +
                        '</div>' +
                        '<div class="comment-body">' +
                            '<div class="comment-text">' +
                            message +
                            '</div>' +
                        '</div>' +
                        '<div class="comment-footer">' +
                        '</div>' +
                    '</div>');
            };
            $('#message').focus();
            $('#displayname').val('@Model.FirstName' + ' ' + '@Model.LastName' + '<div style="display:none;">@Model.AspNetUser.UserName</div>');
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    chat.server.send($('#displayname').val(), $('#message').val());
                    $('#message').val('').focus();
                });
            });
        });
    </script>
}