﻿<!DOCTYPE html>
@{
    var jTableStyle = "metro/blue/jtable.css";
    if (!string.IsNullOrEmpty(Request["jTableStyle"]))
    {
        jTableStyle = Request["jTableStyle"];
    }
}
<html>
<head>
    <meta charset="utf-8" />
    <title>jTable.org - A JQuery plugin to create AJAX based CRUD tables - @ViewBag.Title
    </title>



    <link href="@Url.Content("~/assets/js/jtable/jtable/themes/" + jTableStyle)" rel="stylesheet" type="text/css" />
    @RenderSection("CssImport", false)
    

    @RenderSection("JavascriptImport", false)    
</head>
<body>
    <div class="site-container">
        <div class="content-container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
