﻿@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <a class="login-area dropdown-toggle" data-toggle="dropdown">
        <div class="avatar" title="View your public profile">
            @if (!ViewBag.GuardFileCount.Equals("0"))
            {
                <img id="img-size" src='@Url.Action("GetFile", "Guards")' />
            }
            else
            {
                <img src="/assets/img/avatars/anonymous.jpg" alt="" />
            }
        </div>
        <section>
            <h2><span class="profile"><span>@ViewBag.GuardFirstName @ViewBag.GuardLastName</span></span></h2>
        </section>
    </a>
    <!--Login Area Dropdown-->
    <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area" style="width: 200px">
        <li class="username"><a>@ViewBag.GuardUsername</a></li>
        <li class="email"><a>@ViewBag.GuardUsername@@gmail.com </a></li>
        <!--Avatar Area-->
        <li>
            <div class="avatar-area">
                <div class="row">
                    @if (!ViewBag.GuardFileCount.Equals("0"))
                    {
                        <img id="img-size" src='@Url.Action("GetFile", "Guards")' alt="" class="avatar" />
                    }
                    else
                    {
                        <img src="/assets/img/avatars/anonymous.jpg" alt="" class="avatar" />
                    }
                    <span class="caption">תמונת המשתמש</span>
                </div>
            </div>
        </li>
        <!--Avatar Area-->
        <li class="edit">
            <a href="@Url.Action("ProfilePage", "Guards")" class="pull-left profile">פרופיל</a>
            <a href="@Url.Action("ProfilePage", "Guards")" class="pull-right settings">הגדרות</a>
        </li>

        <!--Theme Selector Area-->
        <li class="theme-area">
            <ul class="colorpicker" id="skin-changer">
                <li><a class="colorpick-btn" href="#" style="background-color: #5DB2FF;" rel="/assets/css/skins/blue.min.css"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color: #2dc3e8;" rel="/assets/css/skins/azure.min.css"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color: #03B3B2;" rel="/assets/css/skins/teal.min.css"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color: #53a93f;" rel="/assets/css/skins/green.min.css"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color: #FF8F32;" rel="/assets/css/skins/orange.min.css"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color: #cc324b;" rel="/assets/css/skins/pink.min.css"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color: #AC193D;" rel="/assets/css/skins/darkred.min.css"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color: #8C0095;" rel="/assets/css/skins/purple.min.css"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color: #0072C6;" rel="/assets/css/skins/darkblue.min.css"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color: #585858;" rel="/assets/css/skins/gray.min.css"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color: #474544;" rel="/assets/css/skins/black.min.css"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color: #001940;" rel="/assets/css/skins/deepblue.min.css"></a></li>
            </ul>
        </li>
        <!--/Theme Selector Area-->
        <li class="dropdown-footer">
            <a href="@Url.Action("LogOff", "Account")">להתנתק</a>
        </li>
    </ul>
    <!--/Login Area Dropdown-->
}




