﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body dir="rtl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mikud Group", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Others<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Job", "Index", "Jobs", routeValues: null, htmlAttributes: new { title = "תפקידים" })</li>
                                <li>@Html.ActionLink("City", "Index", "Cities", routeValues: null, htmlAttributes: new { title = "City" })</li>
                                <li>@Html.ActionLink("Positions", "Index", "Positions", routeValues: null, htmlAttributes: new { title = "Positions" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Schedule<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Schedule", "Index", "Scheduals", routeValues: null, htmlAttributes: new { title = "Schedule" })</li>
                                <li>@Html.ActionLink("Standard", "Index", "Standards", routeValues: null, htmlAttributes: new { title = "Course" })</li>
                                <li>@Html.ActionLink("Option", "Index", "Options", routeValues: null, htmlAttributes: new { title = "Option" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Guard Info<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Course", "Index", "Courses", routeValues: null, htmlAttributes: new { title = "Course" })</li>
                                <li>@Html.ActionLink("Guard", "Index", "Guards", routeValues: null, htmlAttributes: new { title = "Guard" })</li>
                                <li>@Html.ActionLink("Transport", "Index", "TransportationInfoes", routeValues: null, htmlAttributes: new { title = "TransportationInfoesController" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administartor<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Log", "Index", "Logs", routeValues: null, htmlAttributes: new { title = "Logs" })</li>
                        <li>@Html.ActionLink("Message", "Index", "Message", routeValues: null, htmlAttributes: new { title = "Message" })</li>
                        <li>@Html.ActionLink("Post", "Index", "Posts", routeValues: null, htmlAttributes: new { title = "Post" })</li>

                    }
                    else if (User.IsInRole("SuperUser"))
                    {
                        <li>@Html.ActionLink("Post", "Index", "Posts", routeValues: null, htmlAttributes: new { title = "Post" })</li>
                        <li>@Html.ActionLink("Schedule", "Index", "Scheduals", routeValues: null, htmlAttributes: new { title = "Schedule" })</li>
                        <li>@Html.ActionLink("Guard", "Index", "Guards", routeValues: null, htmlAttributes: new { title = "Guard" })</li>
                        <li>@Html.ActionLink("Option", "Index", "Options", routeValues: null, htmlAttributes: new { title = "Option" })</li>
                        <li>@Html.ActionLink("Transportation", "Index", "TransportationInfoes", routeValues: null, htmlAttributes: new { title = "TransportationInfoesController" })</li>
                        <li>@Html.ActionLink("Address", "Index", "Addresses", routeValues: null, htmlAttributes: new { title = "Option" })</li>
                        <li>@Html.ActionLink("Message", "Index", "Message", routeValues: null, htmlAttributes: new { title = "Message" })</li>
                    }
                    else if (User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("Schedule", "Index", "Scheduals", routeValues: null, htmlAttributes: new { title = "Schedule" })</li>
                        <li>@Html.ActionLink("Guard", "Index", "Guards", routeValues: null, htmlAttributes: new { title = "Guard" })</li>
                        <li>@Html.ActionLink("Option", "Index", "Options", routeValues: null, htmlAttributes: new { title = "Option" })</li>
                        <li>@Html.ActionLink("TransportationInfoesController", "Index", "TransportationInfoes", routeValues: null, htmlAttributes: new { title = "TransportationInfoesController" })</li>
                        <li>@Html.ActionLink("Address", "Index", "Addresses", routeValues: null, htmlAttributes: new { title = "Option" })</li>
                        <li>@Html.ActionLink("Message", "Index", "Message", routeValues: null, htmlAttributes: new { title = "Message" })</li>
                    }
                    else
                    {

                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        <p><div class="alert alert-success">@ViewBag.ResultMessage</div></p>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - כל הזכויות שמורות למיקוד בע"ם</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>


    @*    <script type="text/javascript">
            $(function () {
                $("#Start").val("#ID").datetimepicker({
                    locale: 'he'
                });
            });
        </script>
        <script type="text/javascript">
        $(function () {
            $("#End").val("#ID").datetimepicker({
                locale: 'he'
            });
        });
        </script>

        <script type="text/javascript">
        $(function () {
            $("#Birthday").val("#ID").datetimepicker({
                locale: 'he'
            });
        });
        </script>
        <script type="text/javascript">
            $(function () {
                $("#StartWorkingDate").val("#ID").datetimepicker({
                    locale: 'he'
                });
            });
        </script>
        <script type="text/javascript">
        $(function () {
            $("#LastTrainingDate").val("#ID").datetimepicker({
                locale: 'he'
            });
        });
        </script>*@



</body>
</html>
