﻿ <!--Messages Dropdown-->
<ul class="pull-right dropdown-menu dropdown-arrow dropdown-messages">
    @foreach (var message in ViewBag.MessagesDropDown)
    {

        <li>
            <a href="#">
                    @if (@ViewBag.GuardFileCount != 0)
                    {
                        <img id="img-size" src='@Url.Action("GetFileByUsername", "Guards", new { username = @message.Sender})' class="message-avatar" alt="@message.Sender" />
                    }
                    else
                    {
                        <img src="/assets/img/avatars/anonymous.jpg" class="message-avatar" alt="@message.Sender" />
                    } 
                <div class="message">
                    <span class="message-sender">
                  @message.Sender
                </span>
                    <span class="message-time">
                  @message.DateSend
                </span>
                    <span class="message-subject">
                    @message.Subject
                </span>
                    <span class="message-body">
                    @message.MessageBody
                </span>
                </div>
            </a>
        </li>
    }
</ul>