﻿<table width="100%" class="InnerContentTableRtl" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td valign="top">

                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td align="right">
                                <script type="text/javascript">
                                    function formSubmit()
                                    {
                                        var Name = document.getElementById('Name');
                                        var Phone = document.getElementById('Phone');
                                        var EmailAddress = document.getElementById('EmailAddress');
                                        var Purpose = document.getElementById('Purpose');
                                        var PurposeId = document.getElementById('PurposeId');
                                        var canSendMailHidden = document.getElementById('canSendMailHidden');

                                        if (Name.value == "")
                                        {
                                            alert("אנא מלאו את שמכם");
                                            Name.focus();
                                            return false;
                                        }
                                        else if (Phone.value == "")
                                        {
                                            alert("אנא מלאו מספר טלפון");
                                            Phone.focus();
                                            return false;

                                        }
                                        else if ( EmailAddress.value != ""
                                            && ! validateEmailAddress(EmailAddress.value) )
                                        {
                                            alert("אנא תקנו את כתובת האימייל");
                                            EmailAddress.focus();
                                            return false;
                                        }
                                        else
                                        {
                                            Purpose.value = PurposeId.options[PurposeId.selectedIndex].text;
                                            canSendMailHidden.value = "true";
                                        }
                                    }
                                </script>


                                <input name="canSendMailHidden" id="canSendMailHidden" value="" type="hidden">

                                <input name="Language" id="Language" value="hebrew" type="hidden">
                                <input id="Purpose" name="Purpose" value="" type="hidden">

                                <table align="right" border="0" cellpadding="0" cellspacing="0">
                                    <!-- Page Header -->
                                    <tbody>
                                        <tr>
                                            <td align="right"><h1 class="Header">יצירת קשר</h1></td>
                                        </tr>
                                        <!-- Main Section -->
                                        <tr>
                                            <td class="Body" align="right">
                                                <span class="Body">
                                                    <p dir="rtl"><span style="FONT-WEIGHT: bold"><br>תודה שביקרתם באתרנו, מחכים לפנייתך.<br></span>נציגינו ישובו אליכם במהרה,<br><br>המשך יום נעים,<br><br><span style="FONT-WEIGHT: bold">בברכה,<br><br>מוקד מיקוד</span></p>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr><td height="10"></td></tr>
                                        <tr>
                                            <td class="Body" align="center">

                                                <table width="350" align="right" border="0" cellspacing="0" cellpadding="3">

                                                    <tbody>
                                                        <tr>
                                                            <td align="right" nowrap="nowrap" class="TextBold"></td>
                                                            <td align="right" class="Body"></td>
                                                        </tr>

                                                        <tr>
                                                            <td></td>
                                                            <td align="right" class="Body"><a href="mailto:" class="Body"></a></td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2" height="10"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" class="ContactDivider"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr><td height="10"></td></tr>
                                        <tr>
                                            <td class="SubHeader" align="right"> פרטי חובה מסומנים ב <span class="Required">*</span></td>
                                        </tr>
                                        <tr><td height="10"></td></tr>
                                        <tr>
                                            <td align="center">
                                                <table width="300" border="0" cellspacing="0" cellpadding="3">
                                                    <tbody>
                                                        <tr>
                                                            <td align="right" class="TextBold" nowrap="nowrap">שם <span class="Required">*</span></td>
                                                            <td align="right"><input name="Name" id="Name" type="text" class="InputField" style="width:200px;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right" class="TextBold" nowrap="nowrap">שם החברה</td>
                                                            <td align="right"><input name="CompanyName" type="text" class="InputField" style="width:200px;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right" class="TextBold" nowrap="nowrap">טלפון <span class="Required">*</span></td>
                                                            <td align="right"><input name="Phone" id="Phone" type="text" class="InputField" style="width:200px;" dir="ltr"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right" class="TextBold" nowrap="nowrap">דוא"ל</td>
                                                            <td align="right"><input name="EmailAddress" id="EmailAddress" type="text" class="InputField" style="width:200px;" dir="ltr"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right" class="TextBold">מטרת הפנייה</td>
                                                            <td align="right">
                                                                <select name="PurposeId" id="PurposeId" class="InputFieldDD">
                                                                    <option value="1">פנייה כללית</option>
                                                                    <option value="10">שירות לקוחות</option>
                                                                    <option value="11">בקשה להצעת מחיר</option>
                                                                    <option value="12">קבלת יעוץ</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right" valign="top" class="TextBold">פרטים</td>
                                                            <td align="right"><textarea name="Details" cols="10" rows="8" class="InputFieldDetails" style="width:200px;" onkeydown="StopEventBubble(event)"></textarea></td>
                                                        </tr>
                                                        <tr>
                                                            <td><!--<a href="javascript:formSubmit();" class="ImageLink" ><img src="../images/hebrew/icon_send.gif" align="absmiddle" border="0" /></a> --></td>
                                                            <td align="left" valign="bottom" style="padding-left:10px">
                                                                <input type="submit" name="ctl00$ContentPlaceHolder1$Send_Button" value="שלח" onclick="if(formSubmit() == false)return false;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$Send_Button&quot;, &quot;&quot;, false, &quot;&quot;, &quot;SendEmail.aspx?emailType=ContactUs&quot;, false, false))" id="ctl00_ContentPlaceHolder1_Send_Button" class="Button">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr><td>&nbsp;</td></tr>
                                    </tbody>
                                </table>

                            </td>
                            <td align="left" valign="top">
                                <table style="width: 220px; border-collapse: collapse">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;
                            vertical-align: top; padding-top: 0px">
                                                <table style="BORDER-COLLAPSE: collapse; WIDTH: 208px">
                                                    <tbody>
                                                        <tr>
                                                            <td style="FONT-SIZE: 20px; VERTICAL-ALIGN: top; FONT-WEIGHT: bold; COLOR: rgb(89,89,89); PADDING-BOTTOM: 10px; TEXT-ALIGN: center; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 25px; BACKGROUND-COLOR: rgb(0,131,191)">
                                                                <p align="right"><span class="Body" style="FONT-SIZE: 20px; FONT-WEIGHT: bold; COLOR: rgb(255,255,255); PADDING-TOP: 25px">צור קשר</span></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="VERTICAL-ALIGN: top; COLOR: rgb(255,255,255); PADDING-BOTTOM: 18px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; BACKGROUND-COLOR: rgb(0,131,191)">
                                                                <p dir="rtl" align="right"><span class="Body" style="COLOR: rgb(255,255,255)"><span style="FONT-WEIGHT: bold">מוקד מיקוד<br><span style="FONT-WEIGHT: normal">משרדי הנהלה ראשית </span><br></span>רח' ריב"ל 18 תל אביב <br><br>טלפון 1700-700-327 <br>פקס 03-6363412 <br><br>שעות התקשרות א'-ה' <br>08:00-18:00<br>ו' וערבי חג 08:00-15:00 <a href="mailto:info@moked-mikud.co.il"></a><br></span></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>