﻿
@{
    ViewBag.Title = "Offices";
}

<h2>Offices</h2>
<table width="100%" class="InnerContentTableRtl" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td valign="top">

                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td valign="top" class="pageContentRtl">
                                <table width="100%" align="right" border="0" cellpadding="0" cellspacing="0">

                                    <!-- Page Header -->
                                    <tbody>
                                        <tr>
                                            <td align="right">
                                                <h1 class="HeaderRtl">
                                                    סניפים
                                                </h1>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td valign="top">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <!-- Main Section -->
                                                    <tbody>
                                                        <tr>
                                                            <td class="Body" valign="top">
                                                                <div class="Body" dir="rtl">
                                                                    <span style="font-weight: bold;">סניפינו עומדים לראשותכם בכל עת ובכל מצב<br></span><br>
                                                                    <p><span style="color: rgb(12, 109, 154); font-size: 12pt; font-weight: bold;">הנהלה ראשית</span> <br></p>
                                                                    <hr color="#34a3db">
                                                                    רחוב ריבל 18 תל אביב, 67778 טל. 03-6363452 פקס. 03-6363412
                                                                    <p><span style="color: rgb(12, 109, 154); font-size: 12pt; font-weight: bold;"><br>סניף צפון</span> <br></p>
                                                                    <hr color="#34a3db">
                                                                    רח’&nbsp;מנחם בגין 80, עפולה טל. 04-6920454 פקס. 04-6820148<br>
                                                                    <p><span style="color: rgb(12, 109, 154); font-size: 12pt; font-weight: bold;"><br>סניף מרכז</span><br></p>
                                                                    <hr color="#34a3db">

                                                                    <p>
                                                                        רח’ ריבל 18 תל אביב 67778 טל. 03-6363433 פקס. 03-6363436<br><br><span style="color: rgb(12, 109, 154); font-size: 12pt; font-weight: bold;">סניף שפלה<br></span>
                                                                    </p><hr color="#34a3db">

                                                                    <p></p>
                                                                    <p>
                                                                        רח’ ויסגל 2 רחובות 76326 טל. 08-9361813 פקס. 08-9460893<br><span style="color: rgb(12, 109, 154); font-size: 12pt; font-weight: bold;"><br>סניף שרון<br></span>
                                                                    </p><hr color="#34a3db">

                                                                    <p></p>
                                                                    <p>דרך השרון 12 כפר-סבא 44269 טל. 09-7453518 פקס. 09-7453519<br><br><span style="color: rgb(12, 109, 154); font-size: 12pt; font-weight: bold;">סניף דרום</span></p><span style="color: rgb(12, 109, 154); font-size: 12pt; font-weight: bold;">
                                                                        <hr color="#34a3db">
                                                                    </span>
                                                                    <p>בנין מרניר 9 א.ת. באר טוביה 79800 טל. 08-8601356 פקס. 08-8602106<br><br><span style="color: rgb(12, 109, 154); font-size: 12pt; font-weight: bold;">סניף באר שבע</span></p>
                                                                    <hr color="#34a3db">

                                                                    <p>רח’&nbsp;יאיר 18&nbsp;, באר שבע&nbsp;8420603 טל. 08-8649480 פקס. 08-8559909<br><br><span style="color: rgb(12, 109, 154); font-size: 12pt; font-weight: bold;">סניף ירושלים</span></p>
                                                                    <hr color="#34a3db">

                                                                    <p>רח’ מסילת ישרים 16 ירושלים 94584 טל. 02-9700720 פקס. 02-9700721<br><br><span style="color: rgb(12, 109, 154); font-size: 12pt; font-weight: bold;">סניף מודיעין</span></p>
                                                                    <hr color="#34a3db">

                                                                    <p>שד’ החשמונאים 15 מודיעין 71725 טל. 08-6345524 פקס. 08-6345528<br><span style="color: rgb(12, 109, 154); font-size: 12pt; font-weight: bold;"><br>סניף חיפה</span></p>
                                                                    <hr color="#34a3db">

                                                                    <p>שד’ בן גוריון 6 חיפה 35414 טל. 04-8524589 פקס. 04-8524602<br></p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <!-- End Main Section -->
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <table id="ctl00_ContentPlaceHolder1_Links_LinksTable" class="LinksRow" cellspacing="0" cellpadding="0" border="0" style="border-width:0px;border-collapse:collapse;">
                                                    <tbody>
                                                        <tr>
                                                            <td id="ctl00_ContentPlaceHolder1_Links_Print_Td" valign="middle">
                                                                &nbsp;&nbsp;<img src="http://www.moked-mikud.co.il/images/hebrew/icon_print.gif" align="bottom" hspace="5" border="0" alt=""><a id="ctl00_ContentPlaceHolder1_Links_Print_Link" class="SmallLink" rel="nofollow" href="/hebrew/Print.aspx?type=page&amp;id=816" target="_blank">הדפס</a>&nbsp;&nbsp;
                                                            </td>
                                                            <td id="ctl00_ContentPlaceHolder1_Links_SendToFriend_Td" valign="middle">
                                                                &nbsp;&nbsp;<img src="http://www.moked-mikud.co.il/images/hebrew/icon_send_to_friend.gif" align="bottom" hspace="5" border="0" alt=""><a id="ctl00_ContentPlaceHolder1_Links_SendToFriend_Link" class="SmallLink" rel="nofollow" href="/hebrew/SendToFriend.aspx?Link=http://www.moked-mikud.co.il/Article.aspx?Item=816&amp;ln=he&amp;Title=סניפים" target="_blank">שלח לחבר</a>&nbsp;&nbsp;
                                                            </td>
                                                            <td id="ctl00_ContentPlaceHolder1_Links_AddToFavorites_Td" valign="middle">
                                                                &nbsp;&nbsp;<img src="http://www.moked-mikud.co.il/images/hebrew/icon_add_to_favorites.gif" align="bottom" hspace="5" border="0" alt=""><a id="ctl00_ContentPlaceHolder1_Links_AddToFavorites_Link" class="SmallLink" href="javascript:window.external.AddFavorite('http://www.moked-mikud.co.il/Article.aspx?Item=816&ln=he','סניפים');">שמור במועדפים</a>&nbsp;&nbsp;
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </td>
                                        </tr>
                                        <!-- Rate the Movie -->
                                        <tr id="AddCommentsDiv" style="display: none">
                                            <td align="right" class="AddCommentsRtl" style="padding: 0px;">
                                                <iframe src="AddComment.aspx?Article=816" width="300" height="200" frameborder="0"></iframe>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td valign="top">
                                <div id="ctl00_ContentPlaceHolder1_pageSidePanel_SidePanelControls_Panel" class="PageSidePanel" style="width:210px;">
                                    <div class="psp-text">
                                        <table style="BORDER-COLLAPSE: collapse; WIDTH: 208px">
                                            <tbody>
                                                <tr>
                                                    <td style="FONT-SIZE: 20px; VERTICAL-ALIGN: top; FONT-WEIGHT: bold; COLOR: #595959; PADDING-BOTTOM: 10px; TEXT-ALIGN: center; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 25px; BACKGROUND-COLOR: #0083bf">
                                                        <p align="right"><span class="Body" style="FONT-SIZE: 20px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-TOP: 25px">צור קשר</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="VERTICAL-ALIGN: top; COLOR: #ffffff; PADDING-BOTTOM: 18px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; BACKGROUND-COLOR: #0083bf">
                                                        <p dir="rtl" align="right"><span class="Body" style="COLOR: #ffffff"><span style="FONT-WEIGHT: bold">מוקד מיקוד<br><span style="FONT-WEIGHT: normal">משרדי הנהלה ראשית </span><br></span>רח' ריב"ל 18 תל אביב <br><br>טלפון 1700-700-327 <br>פקס 03-6363412 <br><br>שעות התקשרות א'-ה' <br>08:00-18:00<br>ו' וערבי חג 08:00-15:00 <a href="mailto:info@moked-mikud.co.il"></a><br></span></p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>
