﻿@model IEnumerable<Mikud_Manage.Models.Log>

@{
    ViewBag.Title = "Index";
}

<h2>הודעות של מערכת</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descreption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descreption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
    </tr>
}

</table>
