﻿@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@model Mikud_Manage.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.Description = "register";
    Layout = "~/Views/Shared/_Empty.cshtml";
}
@using (var form = Html.Bootstrap().Begin(new Form().Type(FormType.Vertical)))
{
    @Html.AntiForgeryToken()
    <div class="register-container animated fadeInDown">
        <div class="registerbox bg-white" style="height: 300px !important">
            <div class="registerbox-title">הרשמה</div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="registerbox-caption" style="direction: rtl">אנא מלא את הפרטים</div>
            <div class="registerbox-textbox">
                @Html.Bootstrap().TextBoxFor(t => t.Email).Placeholder("שם המשתמש").
            </div>
            <div class="registerbox-textbox">
                @Html.Bootstrap().PasswordFor(t => t.Password).Placeholder("סיסמא")
            </div>
            <div class="registerbox-textbox">
                @Html.Bootstrap().PasswordFor(t => t.ConfirmPassword).Placeholder("אשר סיסמא")
            </div>
            <div class="registerbox-submit">
                @Html.Bootstrap().SubmitButton().Text("אשר").Color(BootstrapColors.Primary).ButtonBlock()
            </div>
        </div>
    </div>
}
