﻿@model Message
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_MailSubmenu")
        <div class="form-horizontal">
            <h4>Message</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Reciever, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownList("AspNetUserId", String.Empty)
                    @Html.EditorFor(model => model.Reciever)
                    @Html.ValidationMessageFor(model => model.Reciever)
                </div>
            </div>
             
            <div class="form-group">
                @Html.LabelFor(model => model.Subject, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Subject)
                    @Html.ValidationMessageFor(model => model.Subject)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MessageBody, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.MessageBody)
                    @Html.ValidationMessageFor(model => model.MessageBody)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</body>
</html>
