﻿@model IEnumerable<Message>
@using Mikud_Manage.Extensions
@*@{
        Layout = null;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div class="row" dir="RTL">
        <div class="col-sm-2" dir="RTL">
            @Html.AuthWarning(UserName)
        </div>
    </div>
    <div class="row" dir="RTL">
        <div class="col-sm-2" dir="RTL">
            @Html.Partial("_MailSubmenu")
        </div>
    </div>
    <div class="row" dir="RTL">
        <div class="col-sm-2" dir="RTL">
            @Html.ActionLink("Create New", "Create")
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Inbox</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>
                            <span class="glyphicon glyphicon-ok">
                            </span>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reciever)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MessageBody)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateSend)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <th><input type="checkbox"></th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reciever)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MessageBody)
                            </td>
                            <td>
                                @using (Html.BeginForm("Respond", "Message", FormMethod.Get))
                                {
                                    @Html.Hidden("messageId", item.Id)
                                    @Html.AntiForgeryToken()
                                    <button class="btn btn-info" type="submit" value="Reply" onclick="javascript: Notify('הודעה נשלחה.', 'top-right', '5000', 'info', 'fa-envelope', true); return false;">Info</button>
                                    @*<input type="submit" value="Reply" />*@
                                }

                                @using (Html.BeginForm("Delete", "Message"))
                                {
                                    @Html.Hidden("messageId", item.Id)
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Delete a message" />

                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateSend)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    @section PageScripts {
        @Styles.Render("~/css/bootstrap-rtl")
        @Styles.Render("~/css/beyond-rtl")
        @Styles.Render("~/css/site")
        @Scripts.Render("~/bundles/beyond")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery-ui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/moment")
    }
</body>
</html>
