﻿@model Mikud_Manage.Models.Address

@{
    ViewBag.Title = "Details";
}

<h2>פרטי</h2>

<div>
    <h4>כתובת</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guard.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guard.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlatNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlatNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("עריכה", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("חזרה לרשימה", "Index")
</p>
