﻿@model Mikud_Manage.Models.Position

@{
    ViewBag.Title = "Delete";
}

<h2>מחיקת</h2>

<h3>האם אתה בטוח שברצונך למחוק את העמדה?</h3>
<div>
    <h4>עמדה</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="מחק" class="btn btn-default" /> |
            @Html.ActionLink("חזרה לרשימה", "Index")
        </div>
    }
</div>
