﻿@model Mikud_Manage.Models.Position

@{
    ViewBag.Title = "Details";
}

<h2>פרטי</h2>

<div>
    <h4>עמדה</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("עריכה", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("חזרה לרשימה", "Index")
</p>
