﻿@model Message
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>יצירת הודעה החדשה</title>

</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_MailSubmenu")
        <div class="form-horizontal">
            <h4>הודעה</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Reciever, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Reciever)
                        @Html.ValidationMessageFor(model => model.Reciever)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Subject, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Subject)
                        @Html.ValidationMessageFor(model => model.Subject)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.MessageBody, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.MessageBody)
                        @Html.ValidationMessageFor(model => model.MessageBody)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-info" type="submit" value="שלך" onclick="javascript: Notify('הודעה נשלחה.', 'top-right', '5000', 'info', 'fa-envelope', true); return false;">שלך</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
@section PageScripts {
    <script src="~/assets/js/jquery-2.1.4.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/css/bootstrap-rtl")
    @Styles.Render("~/css/beyond-rtl")
    @Styles.Render("~/css/site")
}