﻿@model Message

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Respond</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm("Create","Inbox"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Message</h4>
            <hr />
            @Html.ValidationSummary(true,"",new {@class = "text-danger"})

            @Html.HiddenFor(e => e.Reciever);
            @Html.HiddenFor(e=>e.Subject);
            <div>
                @Html.LabelFor(model => model.MessageBody, new { @class = "control-label col-md-2" })
                <div>
                    @Html.TextAreaFor(model => model.MessageBody)
                    @Html.ValidationMessageFor(model => model.MessageBody)
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" value="Send" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</body>
</html>
