﻿@model IEnumerable<Message>
@using Mikud_Manage.Extensions
<div class="row" dir="RTL">
    <div class="col-sm-2">
        @Html.AuthWarning(UserName)
        @Html.Partial("_MailSubmenu")
        @Html.ActionLink("יצירת הודעה החדשה", "Create")
    </div>
    <div class="col-sm-10">
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>
                            <span class="glyphicon glyphicon-ok"></span>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MessageBody)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateSend)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                <input type="checkbox">
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MessageBody)
                            </td>
                            <td>
                                @using (Html.BeginForm("Respond", "Inbox", FormMethod.Get))
                                {
                                    @Html.Hidden("messageId", item.Id)
                                    @Html.AntiForgeryToken()
                                    <button class="btn btn-info" type="submit" value="תגובה" onclick="javascript: Notify('הודעה נשלחה.', 'top-right', '5000', 'info', 'fa-envelope', true); return false;">תגובה</button>

                                }

                                @using (Html.BeginForm("Delete", "Inbox"))
                                {
                                    @Html.Hidden("messageId", item.Id)
                                    @Html.AntiForgeryToken()
                                    <button class="btn btn-danger" type="submit" value="מחיקת ההודעה" onclick="javascript: Notify('Something Went Wrong!', 'top-right', '5000', 'danger', 'fa-bolt', true); return false;">מחיקת ההודעה</button>

                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateSend)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
@section PageScripts {

    @*@Scripts.Render("~/bundles/jquery")*@

    <script src="~/assets/js/jquery-2.1.4.js"></script>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/jquery-ui")
    @Styles.Render("~/css/bootstrap-rtl")
    @Styles.Render("~/css/beyond-rtl")
    @Styles.Render("~/css/site")
}
