﻿@model Message

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Respond</title>
</head>
    <body>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")


        @using (Html.BeginForm("Create","Inbox"))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>תגובה</h4>
                <hr />
                @Html.ValidationSummary(true,"",new {@class = "text-danger"})

                @Html.HiddenFor(e => e.Reciever)
                @Html.HiddenFor(e=>e.Subject)
                <div class="form-group">
                    @Html.LabelFor(model => model.MessageBody, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.MessageBody)
                        @Html.ValidationMessageFor(model => model.MessageBody)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-info" type="submit" value="שלך" onclick="javascript: Notify('הודעה נשלחה.', 'top-right', '5000', 'info', 'fa-envelope', true); return false;">שלך</button>
                    </div>
                </div>
            </div>
        }
    </body>
</html>
@section PageScripts {
    <script src="~/assets/js/jquery-2.1.4.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/css/bootstrap-rtl")
    @Styles.Render("~/css/beyond-rtl")
    @Styles.Render("~/css/site")
}