﻿@{
    ViewBag.Title = "Calendar";
    ViewBag.Description = "Calendar";
    Layout = "~/Views/Shared/_HebrewLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header bordered-bottom bordered-sky">
                <i class="widget-icon fa fa-calendar sky"></i>
                <span class="widget-caption">Events and Schedules</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <div class="widget-main no-padding">
                    <div id='calendar'></div>
                </div><!--Widget Main Container-->
            </div><!--Widget Body-->
        </div>
    </div>
</div>

@section PageScripts{
    @*<script src="~/assets/js/jquery-ui-1.11.4.js"></script>*@
     <script src="~/assets/js/jquery-ui.js"></script>
    @*<script src="~/assets/js/calendar/jquery-ui-1.8.24.js"></script>*@
    <script src="/assets/js/fullcalendar/fullcalendar.js"></script>
    @*<script src="~/assets/js/calendar/modernizr-2.6.2.js"></script>*@

    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datetimepicker")
    <script src="~/assets/js/bootstrap-switch.js"></script>
    <script src="~/assets/js/qtip2/imagesloaded.pkg.min.js"></script>
    <script src="~/assets/js/jquery.timepicker.js"></script>
    <script src="~/assets/js/qtip2/jquery.qtip.js"></script>
   
    @*<script src="~/assets/js/fullcalendar/lang-all.js"></script>*@
    <script>
        $(document).ready(function() {
            var sourceFullView = { url: '/Calendar/GetAll/' };
            var sourceSummaryView = { url: '/Calendar/GetAll/' };
            var CalLoading = true;
            $('#external-events div.external-event').each(function() {
                var eventObject = {
                    title: $.trim($(this).text())
                };
                $(this).data('eventObject', eventObject);
                $(this).draggable({
                    zIndex: 99,
                    revert: true,
                    revertDuration: 0
                });

            });

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            var tooltip = $('<div/>').qtip({
                id: 'fullcalendar',
                prerender: true,
                content: {
                    text: ' ',
                    title: {
                        button: true
                    }
                },
                position: {
                    my: 'bottom center',
                    at: 'top center',
                    target: 'mouse',
                    viewport: $('#fullcalendar'),
                    adjust: {
                        mouse: false,
                        scroll: false
                    }
                },
                show: false,
                hide: false,
                style: 'qtip-light'
            }).qtip('api');

            $('#calendar').fullCalendar({
                isRTL: true,
                monthNames: ['ינואר', 'פברואר', 'מרץ', 'אפריל', 'מאי', 'יוני', 'יולי', 'אוגוסט', 'ספטמבר', 'אוקטובר', 'נובמבר', 'דצמבר'],
                monthNamesShort: ['ינואר', 'פברואר', 'מרץ', 'אפריל', 'מאי', 'יוני', 'יולי', 'אוגוסט', 'ספטמבר', 'אוקטובר', 'נובמבר', 'דצמבר'],
                dayNames: ["יום ראשון", "יום שני", "יום שלישי", "יום רביעי", "יום חמישי", "יום שישי", "יום שבת"],
                dayNamesShort: ["ראשון", "שני", "שלישי", "רביעי", "חמישי", "שישי", "שבת"],
                buttonText: {
                    prev: "&nbsp;&#9668;&nbsp;",
                    next: "&nbsp;&#9658;&nbsp;",
                    prevYear: "&nbsp;&lt;&lt;&nbsp;",
                    nextYear: "&nbsp;&gt;&gt;&nbsp;",
                    today: "היום",
                    month: "חודש",
                    week: "שבוע",
                    day: "יום"
                },
                header: {
                    left: 'month,agendaWeek,agendaDay prev,next',
                    right: 'title'
                },
                editable: true,
                droppable: true,
                drop: function(date, allDay) {
                    tooltip.hide();
                    var originalEventObject = $(this).data('eventObject');

                    var copiedEventObject = $.extend({}, originalEventObject);

                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;

                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    if ($('#drop-remove').is(':checked')) {
                        $(this).remove();
                    }

                },
                events: '/Calendar/GetAll/',
                eventColor: '#378006',
                eventTextColor: 'blue',
                eventRender: function(event, element) {
                    element.find('.fc-event-title').prepend("<span class='closeon ui-button-icon-primary ui-icon ui-icon-closethick' style='color:red'></span>");
                    element.find(".closeon").click(function () {
                        tooltip.disable();//hide();
                        $( "#dialog" ).dialog({
                            resizable: false,
                            draggable:false,
                            height:100,
                            width:300,
                            modal: true,
                            title: 'אתה בטוח רוצה למחוק את הרישום?',
                            buttons: {
                                "ביטול": function() {
                                    $("#dialog").dialog("close");
                                    tooltip.enable();
                                },
                                "מחיקה": function() {
                                    $('#calendar').fullCalendar('removeEvents', event._id);
                                    DeleteEvent(event);
                                    tooltip.enable();
                                    $("#dialog").dialog( "close" );
                                }
                            }
                        }); 
                    });
                },
                eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                    tooltip.hide();
                    console.log('event drop');
                    $("#dialog").dialog({
                        resizable: false,
                        height: 100,
                        width: 300,
                        draggable: false,
                        dialogClass: 'ModalWindowDisplayMeOnTopPlease',
                        modal: true,
                        title: 'אתה בטוח רוצה להזיז את הרישום כאן?',
                        buttons: {
                            "לא": function () {
                                revertFunc();
                                $("#dialog").dialog("close");
                            },
                            "כן": function () {
                                UpdateEvent(event);
                                $("#dialog").dialog("close");
                            }
                        }
                    });
                },

               

                eventResize: function(event, dayDelta, minuteDelta, revertFunc) {
                    tooltip.hide();
                    console.log('event resize');
                    $("#dialog").dialog({
                        resizable: false,
                        height: 100,
                        width: 300,
                        draggable: false,
                        dialogClass: 'ModalWindowDisplayMeOnTopPlease',
                        modal: true,
                        title: 'אתה בטוח רוצה לשנות את הרישום הזה?',
                        buttons: {
                            "לא": function () {
                                revertFunc();
                                $("#dialog").dialog("close");
                            },
                            "כן": function () {
                                UpdateEvent(event);
                                $("#dialog").dialog("close");
                            }
                        }
                    }).draggable({ disabled: true });
                },
                eventClick: function (data, event, view) {
                    tooltip.hide();
                    console.log('event click');
                    var content =
                        '<h3>' + data.title + '</h3>' + '<p><b>Start:</b> ' + data.start + '<br />' +
                        (data.end && '<p><b>End:</b> ' + data.end + '</p>' || '');

                    tooltip.set({
                        'content.text': content
                    })
                    .reposition(event).show(event);
                },
                dayClick: function (date, allDay, jsEvent, view) {
                    tooltip.hide();
                    console.log('day click');
                    $("#eventId").val("");
                    $('#eventTitle').val("");
                    $('#eventDate').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy'));
                    $('#eventStart').val($.fullCalendar.formatDate(date, 'HH:mm'));
                    $('#eventEnd').val($.fullCalendar.formatDate(date, 'HH:mm'));
                    $('#allDayEvent').val(false);
                    ShowEventPopup(date);
                },
                timeFormat: 'H:mm{ - H:mm}',
                axisFormat: 'HH:mm',
                viewRender: function(view, element) {

                    if (!CalLoading) {
                        if (view.name === 'month') {
                            $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                            $('#calendar').fullCalendar('removeEvents');
                            $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
                        } else {
                            $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
                            $('#calendar').fullCalendar('removeEvents');
                            $('#calendar').fullCalendar('addEventSource', sourceFullView);
                        }
                    }
                }
            });
            CalLoading = false;
        });
        $('.fc-button-content').each(function() {
        });
        $('#btnPopupCancel').click(function() {
            ClearPopupFormValues();
            var modalObj = $('#responsive').modal(); // initialize
            modalObj.modal('hide'); // hide
        });
        $('#eventStart').timepicker({
            'timeFormat': 'H:i',
            'minTime': '00:00',
            'maxTime': '23:30',
            'orientation': 'r'
        });
        $('#eventEnd').timepicker({
            'timeFormat': 'H:i',
            'minTime': '00:00',
            'maxTime': '23:30',
            'disableTimeRanges': [
                ['00:00', '02:00']
            ],
            'orientation': 'r'
        });
        $('#allDayEvent').bootstrapSwitch({
            'onText': 'כן',
            'offText': 'לא'
        }).on('switchChange.bootstrapSwitch', function (event, state) {
            if (state) {
                $('#eventStart').val('00:00');
                $('#eventEnd').val('23:59');
                $('#eventStart').prop('readonly', true);
                $('#eventEnd').prop('readonly', true);
            } else {
                $('#eventStart').prop('readonly', false);
                $('#eventEnd').prop('readonly', false);
            }
            console.log('----------bootstrap switch start-------------');
            console.log(this); // DOM element
            console.log(event); // jQuery event
            console.log(state); // true | false
            console.log('----------bootstrap switch end-------------');
        });
        $('#btnPopupSave').click(function() {
            
            var modalObj = $('#responsive').modal(); // initialize
            modalObj.modal('hide'); // hide

            var dataRow = {
                'id': $('#eventId').val(),
                'title': $('#eventTitle').val(),
                'start': $('#eventStart').val(),
                'date': $('#eventDate').val(),
                'end': $('#eventEnd').val(),
                'allDay': $('#allDayEvent').is(':checked')
        }

            ClearPopupFormValues();

            $.ajax({
                type: 'POST',
                url: "/Calendar/CreateNewEvent",
                data: dataRow,
                success: function (response) {
                    console.log('----------response start-------------');
                    console.log(response);
                    console.log('----------response end-------------');
                    if (response != null) {
                        $('#calendar').fullCalendar('refetchEvents');
                            alert('השינוים נקלתו!');
                    } else {
                        alert('שגיע, לא ניתן לשמור אירוע!');
                    }
                }
            });
        });

        function ShowEventPopup(date) {
            //ClearPopupFormValues();
            var modalObj = $('#responsive').modal(); // initialize
            modalObj.modal('show'); // show
            $('#eventTitle').focus();
        }

        function ClearPopupFormValues() {
            $('#eventId').val("");
            $('#eventTitle').val("");
            $('#eventDate').val("");
            $('#eventDuration').val("");
        }

        function UpdateEvent(Event) {

            var dataRow = {
                'eventId': Event.eventId,
                'guardId': Event.guardId,
                'allDay': Event.allDay,
                'start': Event.start,
                'end': Event.end,
                'title': Event.title,
                'date' : Event.start
            }

            $.ajax({
                type: 'POST',
                url: "/Calendar/UpdateEvent",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(dataRow),
                success: function (response) {
                    console.log('----------response start-------------');
                    console.log(response);
                    console.log('----------response end-------------');
                    debugger;
                    if (response != null) {
                        $('#calendar').fullCalendar('refetchEvents');
                        alert('השינוים נקלתו!');
                    } else {
                        alert('שגיע, לא ניתן לשמור אירוע!');
                    }
                }
            });
        };
        function DeleteEvent(Event) {

            var dataRow = {
                'eventId': Event.eventId,
                'guardId': Event.guardId,
                'allDay': Event.allDay,
                'start': Event.start,
                'end': Event.end,
                'title': Event.title,
                'date': Event.start
            }

            $.ajax({
                type: 'POST',
                url: "/Calendar/DeleteEvent",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(dataRow),
                success: function (response) {
                    console.log(response);
                    if (response != null) {
                        $('#calendar').fullCalendar('refetchEvents');
                        alert('השינוים נקלתו!');
                    } else {
                        alert('שגיע, לא ניתן למחוק אירוע!');
                    }
                },
                error: function (data) {
                    alert(data.toString());
                }
            });
        }

    </script>
    @Styles.Render("~/css/fullcalendar")
    <link href="~/assets/css/bootstrap-switch.css" rel="stylesheet"/>
    <link href="~/assets/css/jquery.timepicker.css" rel="stylesheet"/>
    <link href="~/assets/js/qtip2/jquery.qtip.css" rel="stylesheet" />
    <link href="~/assets/js/qtip2/jquery.qtip.min.css" rel="stylesheet" />
    <link href="~/assets/css/site.css" rel="stylesheet" />
    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/assets/css/jquery-ui.custom.css" rel="stylesheet" />
    <link href="~/assets/css/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/assets/css/jquery-ui.theme.css" rel="stylesheet" />
}

<div dir  ="rtl" id="responsive" class="modal fade" tabindex="-1" data-width="200" style="display: none;">
    <div class="modal-header"><h3>הוספת משמרת</h3></div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <input class="form-control" type="hidden" id="eventId">
                <input class="form-control" type="hidden" id="eventDate"><br />
                <input class="form-control" type="hidden" id="eventTitle"><br />
                <label>כל היום</label>
                <input class="form-control" type="checkbox" id="allDayEvent"><br />
                <label>זמן התחלה</label>
                <input class="form-control" type="text" id="eventStart"><br />
                <label>זמן סיום</label>
                <input class="form-control" type="text" id="eventEnd"><br />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">בטל</button>
        <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">שמור</button>
    </div>
</div>
<div id="dialog" title="" style="display:none;"></div>
