﻿@using System.Text
@using Mikud_Manage.Controllers
@{
    var jTableStyle = "metro/blue/jtable.css";
    if (!string.IsNullOrEmpty(Request["jTableStyle"]))
    {
        jTableStyle = Request["jTableStyle"];
    }
}
<div class="site-container">
    <div class="content-container">
        <div id="JobsTableContainer"></div>
    </div>
</div>
@section PageScripts {
    @Styles.Render("~/css/jtable")

    <link href="~/assets/css/jtable/jtableGuard.css" rel="stylesheet" />
    <link href="@Url.Content("~/assets/js/jtable/jtable/themes/" + jTableStyle)" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jtable")
    <script src="~/assets/js/jtable/jtableJobs.js"></script>
}